body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

#gallery {
    max-width: 1280px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li {
    cursor: pointer
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    background-color: hsla(0, 0%, 10%, 0.9);
    cursor: pointer;
}
.overlay > img{
    max-width: 80%;
}