*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Background color and flex to center container*/
body{
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
}

/*Container with max-width and display grid for placement of elements*/
.container{
    max-width: 1200px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 40px 40px;
    row-gap: 20px;
    column-gap: 20px;
}


/*Card Styling */
article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.35);
}


/*Card image styling*/
.card-image{
    overflow: hidden;
}
article:hover > .card-image > img{
    scale: 1.05;
    transition: 0.5s;
}
.card-image > img{
    height: auto;
    width: 100%;
}

/*Card Text Styling*/
.card-text{
    padding: 15px;
    flex-grow: 2;
}
.card-text > h2{
    font-size: 20px;
}
.card-text p{
    padding-top: 15px;
}

/*Card Footer styling*/
.card-footer{
    color: grey;
    padding: 15px;
}

/*Tablet Grid */
@media screen and (min-width: 500px) and (max-width: 899px) {
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
    }
    .container article:first-child{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

/*Desktop Grid*/
@media screen and (min-width: 900px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
    }
    .container article:first-child{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}