*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Header Background*/
header{
    background-color: black;
}

/*Navbar*/
.navbar{
    min-height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

/*Hide on mobile until menu-btn:checked*/
nav{
    display: none;
}


/*Navbar Link Styling*/
nav > a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

/*Change color on hover */
nav > a:hover{
    color: red;
}

/*Show navbar when .menu-btn:chcked*/
nav:has(+ div > .menu-btn:checked){ /*NOT SUPPORTED ON FIREFOX*/
    display: block;
}


/* position for checkbox, menuicon, closeicon*/
.menu-btn, .menuicon, .closeicon
{
    height: 40px;
    position: absolute;
    top: 5px;
    right: 50px;
}

/* styling for checkbox */
.menu-btn
{
    display: block;
    width: 40px;
    z-index: 7;
    opacity: 0;
    cursor: pointer;
}

/*Place menuicon and closeicon above checkbox*/
.menuicon, .closeicon
{
    z-index: 6;
}

/*Show menu icon by default on mobile*/
.menuicon
{
    display: block;
}

/*Hide close icon by default*/
.closeicon
{
    display: none;
}

/*Show close icon when navbar is shown*/
.closeicon:has(+ .menu-btn:checked){
    display: block;
}
.menuicon:has(~ .menu-btn:checked){
    display: none;
}

/*Styling mobile navbar*/
@media screen and (max-width: 700px) {
    nav{
        position: absolute;
        background-color: black;
        top: 60px;
        left: 40px;
        right: 40px;
        text-align: center;
        height: 25px;
        border-radius: 15px;
    }
}

/*Fixed width on menu btn same as navbar logo to center navbar*/
.menu-btn-group{
    width: 61px;
}

/*Hide Menu btn on desktop / Tablet*/
@media screen and (min-width: 700px){
    nav{
        display: block;
    }
    .menuicon, .closeicon{
        display: none !important;
    }
}




/*Background color and flex to center container*/
body{
    background-color: #f8f9fa;
}
/*Container with max-width */
.container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/*Mobile Grid */
.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 40px 40px; /*Margin on Y for mobile */
    row-gap: 20px;
    column-gap: 20px;
}

/*Tablet Grid */
@media screen and (min-width: 500px) and (max-width: 899px) {
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
    }
    .grid article:first-child{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

/*Desktop Grid*/
@media screen and (min-width: 900px) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);

    }
    .grid article:first-child{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}




/*Card Styling */
article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.35);
}


/*Card image styling*/
.card-image{
    overflow: hidden;
}
article:hover > .card-image > img{
    scale: 1.05;
    transition: 0.5s;
}
.card-image > img{
    height: auto;
    width: 100%;
}

/*Card Text Styling*/
.card-text{
    padding: 15px;
    flex-grow: 2;
}
.card-text > h2{
    font-size: 20px;
}
.card-text p{
    padding-top: 15px;
}

/*Card Footer styling*/
.card-footer{
    color: grey;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

