/*----------FRUGT STYLING -------*/

.fruit-header{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.fruit-grid{
    margin: 40px 0px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: 60px;
}

.fruit-grid > div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*Tablet Grid*/
@media (min-width:600px) {
    .fruit-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
/*Desktop Grid*/
@media (min-width:1000px) {
    .fruit-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}