* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    height: 100vh;
    color: hsl(209, 10%, 100%);
    display: flex;
    flex-direction: column;
}

header, nav, footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


header
{
    background-color: hsl(209, 50%, 30%);
}

nav
{
    background-color: hsl(209, 30%, 60%);
}

main
{
    background-color: hsl(209, 20%, 80%);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 40px 0px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

article{
    width: 90%;
}

aside
{
    background-color: hsl(209, 80%, 50%);
    display: none; /* Hide on Mobie*/
}
 
footer
{
    background-color: hsl(209, 50%, 30%);
}

@media only screen and (min-width: 800px) {
    
    body{
        flex-direction: row;
        flex-wrap: wrap;
    }
    header, footer{
        flex-basis: 100%;
        height: auto;
    }
    aside{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 16,6%;
        flex-grow: 1;
    }
    main{
        flex-grow: 1;
        flex-basis: 50%;
        height: auto;
    }
    nav{
        flex-grow: 1;
        flex-basis: 16,6%;
        height: auto;
    }


  }